CREATE	DATABASE WEB_PHONE
GO
USE [WEB_PHONE]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BILL](
	[ID_BILL] [int] IDENTITY(1,1) NOT NULL,
	[ID_CUSTOMER] [varchar](20) NOT NULL,
	[DATE_BILL] [date] NOT NULL,
	[STATUS_BILL] [int] NOT NULL,
	[COST_BILL] [money] NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[ID_BILL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID_BRAND] [int] IDENTITY(1,1) NOT NULL,
	[NAME_BRAND] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_BRAND] PRIMARY KEY CLUSTERED 
(
	[ID_BRAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAMERA_PHONE]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAMERA_PHONE](
	[ID_PHONE] [varchar](20) NOT NULL,
	[ID_FUNCTIONAL_CAMERA] [int] NOT NULL,
 CONSTRAINT [PK_CAMERA_PHONE] PRIMARY KEY CLUSTERED 
(
	[ID_PHONE] ASC,
	[ID_FUNCTIONAL_CAMERA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CPU](
	[ID_CPU] [int] IDENTITY(1,1) NOT NULL,
	[NAME_CPU] [varchar](50) NOT NULL,
	[SPEED_CPU] [float] NOT NULL,
 CONSTRAINT [PK_CPU] PRIMARY KEY CLUSTERED 
(
	[ID_CPU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID_CUSTOMER] [varchar](20) NOT NULL,
	[NAME_CUSTOMER] [nvarchar](50) NOT NULL,
	[PHONE_CUSTOMER] [char](10) NOT NULL,
	[EMAIL_CUSTOMER] [varchar](50) NOT NULL,
	[ADDRESS_CUSTOMER] [nvarchar](100) NOT NULL,
	[PASSWORD_CUSTOMER] [varchar](16) NOT NULL,
	[STATUS_CUSTOMER] [int] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETAIL_BILL]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAIL_BILL](
	[ID_BILL] [int] NOT NULL,
	[ID_PHONE] [varchar](20) NOT NULL,
	[AMOUNT] [int] NOT NULL,
	[COST_DETAIL_BILL] [money] NOT NULL,
	[COLOR_DETAIL_BILL] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DETAIL_BILL] PRIMARY KEY CLUSTERED 
(
	[ID_BILL] ASC,
	[ID_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FEATURE_PHONE]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FEATURE_PHONE](
	[ID_PHONE] [varchar](20) NOT NULL,
	[ID_SPECIAL_FEATURE] [int] NOT NULL,
 CONSTRAINT [PK_FEATURE_PHONE] PRIMARY KEY CLUSTERED 
(
	[ID_PHONE] ASC,
	[ID_SPECIAL_FEATURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUNCTIONAL_CAMERA]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCTIONAL_CAMERA](
	[ID_FUNCTIONAL_CAMERA] [int] IDENTITY(1,1) NOT NULL,
	[NAME_FUNCTIONAL_CAMERA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FUNCTIONAL_CAMERA] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCTIONAL_CAMERA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONE]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONE](
	[ID_PHONE] [varchar](20) NOT NULL,
	[NAME_PHONE] [nvarchar](50) NOT NULL,
	[SIZE_PHONE] [varchar](50) NOT NULL,
	[OS_PHONE] [varchar](10) NOT NULL,
	[COST_PHONE] [money] NOT NULL,
	[DISCOUNT_PHONE] [int] NOT NULL,
	[COLOR_PHONE] [nvarchar](50) NOT NULL,
	[YEAR_PHONE] [int] NOT NULL,
	[RAM_PHONE] [int] NOT NULL,
	[ROM_PHONE] [int] NOT NULL,
	[CAMERA_REAR_PHONE] [int] NOT NULL,
	[CAMERA_FRONT_PHONE] [int] NOT NULL,
	[BATTERY_PHONE] [int] NOT NULL,
	[MATERIAL] [nvarchar](30) NOT NULL,
	[STATUS_PHONE] [int] NOT NULL,
	[ID_SCREEN] [int] NOT NULL,
	[ID_CPU] [int] NOT NULL,
	[ID_BRAND] [int] NOT NULL,
	[IMAGE_PHONE] [nvarchar](200) NULL,
 CONSTRAINT [PK_PHONE] PRIMARY KEY CLUSTERED 
(
	[ID_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESOLUTION]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESOLUTION](
	[ID_RESOLUTION] [int] IDENTITY(1,1) NOT NULL,
	[NAME_RESOLUTION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RESOLUTION_SCREEN] PRIMARY KEY CLUSTERED 
(
	[ID_RESOLUTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCREEN]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCREEN](
	[ID_SCREEN] [int] IDENTITY(1,1) NOT NULL,
	[SIZE_SCREEN] [float] NOT NULL,
	[ID_TECH_SCREEN] [int] NOT NULL,
	[ID_RESOLUTION] [int] NOT NULL,
 CONSTRAINT [PK_SCREEN] PRIMARY KEY CLUSTERED 
(
	[ID_SCREEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPECIAL_FEATURE]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIAL_FEATURE](
	[ID_SPECIAL_FEATURE] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SPECIAL_FEATURE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SPECIAL_FEATURE] PRIMARY KEY CLUSTERED 
(
	[ID_SPECIAL_FEATURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID_STAFF] [varchar](10) NOT NULL,
	[NAME_STAFF] [nvarchar](50) NOT NULL,
	[EMAIL_STAFF] [varchar](50) NOT NULL,
	[PHONE_STAFF] [char](10) NOT NULL,
	[ADDRESS_STAFF] [nvarchar](50) NOT NULL,
	[SEX_STAFF] [nvarchar](3) NOT NULL,
	[BIRTHDAY_STAFF] [date] NOT NULL,
	[PASSWORD] [varchar](16) NOT NULL,
	[ROLE] [int] NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID_STAFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TECH_SCREEN]    Script Date: 10/12/2021 08:14:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECH_SCREEN](
	[ID_TECH_SCREEN] [int] IDENTITY(1,1) NOT NULL,
	[NAME_TECH_SCREEN] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TECHNOLOGY_SCREEN] PRIMARY KEY CLUSTERED 
(
	[ID_TECH_SCREEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BILL] ON 

INSERT [dbo].[BILL] ([ID_BILL], [ID_CUSTOMER], [DATE_BILL], [STATUS_BILL], [COST_BILL]) VALUES (1, N'hai123', CAST(N'2021-12-10' AS Date), 2, 135750000.0000)
INSERT [dbo].[BILL] ([ID_BILL], [ID_CUSTOMER], [DATE_BILL], [STATUS_BILL], [COST_BILL]) VALUES (2, N'jonDucTan', CAST(N'2020-02-20' AS Date), 0, NULL)
INSERT [dbo].[BILL] ([ID_BILL], [ID_CUSTOMER], [DATE_BILL], [STATUS_BILL], [COST_BILL]) VALUES (3, N'thao123', CAST(N'2020-09-13' AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[BILL] OFF
SET IDENTITY_INSERT [dbo].[BRAND] ON 

INSERT [dbo].[BRAND] ([ID_BRAND], [NAME_BRAND]) VALUES (1, N'SAMSUNG')
INSERT [dbo].[BRAND] ([ID_BRAND], [NAME_BRAND]) VALUES (2, N'VIVO')
INSERT [dbo].[BRAND] ([ID_BRAND], [NAME_BRAND]) VALUES (3, N'APPLE')
SET IDENTITY_INSERT [dbo].[BRAND] OFF
INSERT [dbo].[CAMERA_PHONE] ([ID_PHONE], [ID_FUNCTIONAL_CAMERA]) VALUES (N'12', 1)
INSERT [dbo].[CAMERA_PHONE] ([ID_PHONE], [ID_FUNCTIONAL_CAMERA]) VALUES (N'12', 2)
INSERT [dbo].[CAMERA_PHONE] ([ID_PHONE], [ID_FUNCTIONAL_CAMERA]) VALUES (N'12', 3)
SET IDENTITY_INSERT [dbo].[CPU] ON 

INSERT [dbo].[CPU] ([ID_CPU], [NAME_CPU], [SPEED_CPU]) VALUES (1, N'dragon675', 1440)
INSERT [dbo].[CPU] ([ID_CPU], [NAME_CPU], [SPEED_CPU]) VALUES (2, N'dragon888+', 2500)
INSERT [dbo].[CPU] ([ID_CPU], [NAME_CPU], [SPEED_CPU]) VALUES (8, N'Apple A14', 3100)
SET IDENTITY_INSERT [dbo].[CPU] OFF
INSERT [dbo].[CUSTOMER] ([ID_CUSTOMER], [NAME_CUSTOMER], [PHONE_CUSTOMER], [EMAIL_CUSTOMER], [ADDRESS_CUSTOMER], [PASSWORD_CUSTOMER], [STATUS_CUSTOMER]) VALUES (N'bichdan', N'Huỳnh Thị Bích Dân', N'0123456961', N'bichdan@gmail.com', N'4 Hô Xuân Hương, Đà Lạt, Lâm Đồng0', N'123456', 1)
INSERT [dbo].[CUSTOMER] ([ID_CUSTOMER], [NAME_CUSTOMER], [PHONE_CUSTOMER], [EMAIL_CUSTOMER], [ADDRESS_CUSTOMER], [PASSWORD_CUSTOMER], [STATUS_CUSTOMER]) VALUES (N'cubeti', N'Nguyên Văn Tí', N'0123456635', N'ticubu@gmail.com', N'12 Nguyễn Huệ, tt Chơn Thành, Chơn Thành, Bình Phước', N'1234', 0)
INSERT [dbo].[CUSTOMER] ([ID_CUSTOMER], [NAME_CUSTOMER], [PHONE_CUSTOMER], [EMAIL_CUSTOMER], [ADDRESS_CUSTOMER], [PASSWORD_CUSTOMER], [STATUS_CUSTOMER]) VALUES (N'duong123', N'Nguyễn Thanh Dương', N'0933602222', N'duongpro@gmail.com', N'33 Nguyễn Huệ, Hà Dông, Hà Nội', N'3333', 1)
INSERT [dbo].[DETAIL_BILL] ([ID_BILL], [ID_PHONE], [AMOUNT], [COST_DETAIL_BILL], [COLOR_DETAIL_BILL]) VALUES (1, N'10', 1, 19490000.0000, N'Xanh Lá')
INSERT [dbo].[DETAIL_BILL] ([ID_BILL], [ID_PHONE], [AMOUNT], [COST_DETAIL_BILL], [COLOR_DETAIL_BILL]) VALUES (1, N'11', 1, 20000000.0000, N'Xanh Lá')
INSERT [dbo].[DETAIL_BILL] ([ID_BILL], [ID_PHONE], [AMOUNT], [COST_DETAIL_BILL], [COLOR_DETAIL_BILL]) VALUES (1, N'13', 1, 13490000.0000, N'Đen')
GO
INSERT [dbo].[FEATURE_PHONE] ([ID_PHONE], [ID_SPECIAL_FEATURE]) VALUES (N'10', 1)
INSERT [dbo].[FEATURE_PHONE] ([ID_PHONE], [ID_SPECIAL_FEATURE]) VALUES (N'10', 2)
INSERT [dbo].[FEATURE_PHONE] ([ID_PHONE], [ID_SPECIAL_FEATURE]) VALUES (N'10', 3)
SET IDENTITY_INSERT [dbo].[FUNCTIONAL_CAMERA] ON 

INSERT [dbo].[FUNCTIONAL_CAMERA] ([ID_FUNCTIONAL_CAMERA], [NAME_FUNCTIONAL_CAMERA]) VALUES (1, N'Chụp cận cảnh')
INSERT [dbo].[FUNCTIONAL_CAMERA] ([ID_FUNCTIONAL_CAMERA], [NAME_FUNCTIONAL_CAMERA]) VALUES (2, N'Chụp góc rộng')
INSERT [dbo].[FUNCTIONAL_CAMERA] ([ID_FUNCTIONAL_CAMERA], [NAME_FUNCTIONAL_CAMERA]) VALUES (3, N'Chụp xóa phông')
SET IDENTITY_INSERT [dbo].[FUNCTIONAL_CAMERA] OFF
INSERT [dbo].[PHONE] ([ID_PHONE], [NAME_PHONE], [SIZE_PHONE], [OS_PHONE], [COST_PHONE], [DISCOUNT_PHONE], [COLOR_PHONE], [YEAR_PHONE], [RAM_PHONE], [ROM_PHONE], [CAMERA_REAR_PHONE], [CAMERA_FRONT_PHONE], [BATTERY_PHONE], [MATERIAL], [STATUS_PHONE], [ID_SCREEN], [ID_CPU], [ID_BRAND], [IMAGE_PHONE]) VALUES (N'10', N'Iphone 7Plus', N'150x78x8x194', N'Android', 19490000.0000, 0, N'Xanh Lá_Đỏ_Tím_Đen_Trắng_Vàng', 2019, 4, 128, 12, 16, 3110, N'Kính', 0, 25, 8, 3, N'ip7pl.jpg_ip7pl1.jpg_ip7pl2.jpg_ip7pl3.jpg_ip7pl4.jpg')
INSERT [dbo].[PHONE] ([ID_PHONE], [NAME_PHONE], [SIZE_PHONE], [OS_PHONE], [COST_PHONE], [DISCOUNT_PHONE], [COLOR_PHONE], [YEAR_PHONE], [RAM_PHONE], [ROM_PHONE], [CAMERA_REAR_PHONE], [CAMERA_FRONT_PHONE], [BATTERY_PHONE], [MATERIAL], [STATUS_PHONE], [ID_SCREEN], [ID_CPU], [ID_BRAND], [IMAGE_PHONE]) VALUES (N'11', N'Iphone 11', N'150x78x8x194', N'IOS', 20000000.0000, 0, N'Xanh Lá_Đỏ_Trắng', 2019, 4, 256, 12, 12, 3110, N'Kính', 1, 11, 8, 3, N'ip11.jpg_ip111.jpg_ip112.jpg_ip113.jpg_ip114.jpg_ip115.jpg_ip116.jpg_ip117.jpg')
INSERT [dbo].[PHONE] ([ID_PHONE], [NAME_PHONE], [SIZE_PHONE], [OS_PHONE], [COST_PHONE], [DISCOUNT_PHONE], [COLOR_PHONE], [YEAR_PHONE], [RAM_PHONE], [ROM_PHONE], [CAMERA_REAR_PHONE], [CAMERA_FRONT_PHONE], [BATTERY_PHONE], [MATERIAL], [STATUS_PHONE], [ID_SCREEN], [ID_CPU], [ID_BRAND], [IMAGE_PHONE]) VALUES (N'12', N'Iphone SE', N'138x67x7x148', N'IOS', 14490000.0000, 0, N'Đen', 2020, 3, 256, 12, 12, 1821, N'Kính', 1, 12, 8, 3, N'ipse.jpg_ipse1.jpg_ipse2.jpg_ipse3.jpg_ipse4.jpg')
SET IDENTITY_INSERT [dbo].[RESOLUTION] ON 

INSERT [dbo].[RESOLUTION] ([ID_RESOLUTION], [NAME_RESOLUTION]) VALUES (8, N'1920x1080')
INSERT [dbo].[RESOLUTION] ([ID_RESOLUTION], [NAME_RESOLUTION]) VALUES (9, N'465x230')
INSERT [dbo].[RESOLUTION] ([ID_RESOLUTION], [NAME_RESOLUTION]) VALUES (10, N'245x890')
SET IDENTITY_INSERT [dbo].[RESOLUTION] OFF
SET IDENTITY_INSERT [dbo].[SCREEN] ON 

INSERT [dbo].[SCREEN] ([ID_SCREEN], [SIZE_SCREEN], [ID_TECH_SCREEN], [ID_RESOLUTION]) VALUES (3, 6.7, 5, 8)
INSERT [dbo].[SCREEN] ([ID_SCREEN], [SIZE_SCREEN], [ID_TECH_SCREEN], [ID_RESOLUTION]) VALUES (4, 3.4, 1, 9)
INSERT [dbo].[SCREEN] ([ID_SCREEN], [SIZE_SCREEN], [ID_TECH_SCREEN], [ID_RESOLUTION]) VALUES (5, 6.9, 6, 10)
SET IDENTITY_INSERT [dbo].[SCREEN] OFF
SET IDENTITY_INSERT [dbo].[SPECIAL_FEATURE] ON 

INSERT [dbo].[SPECIAL_FEATURE] ([ID_SPECIAL_FEATURE], [NAME_SPECIAL_FEATURE]) VALUES (1, N'Hỗ trợ 5G')
INSERT [dbo].[SPECIAL_FEATURE] ([ID_SPECIAL_FEATURE], [NAME_SPECIAL_FEATURE]) VALUES (2, N'Bảo mật khuôn mặt')
INSERT [dbo].[SPECIAL_FEATURE] ([ID_SPECIAL_FEATURE], [NAME_SPECIAL_FEATURE]) VALUES (3, N'Bảo mật vân tay')
SET IDENTITY_INSERT [dbo].[SPECIAL_FEATURE] OFF
INSERT [dbo].[STAFF] ([ID_STAFF], [NAME_STAFF], [EMAIL_STAFF], [PHONE_STAFF], [ADDRESS_STAFF], [SEX_STAFF], [BIRTHDAY_STAFF], [PASSWORD], [ROLE]) VALUES (N'DDT321', N'Đào Đức Tấn', N'josductan@gmail.com', N'0888113321', N'Kiên Giang', N'Nam', CAST(N'2000-04-22' AS Date), N'1234', 1)
INSERT [dbo].[STAFF] ([ID_STAFF], [NAME_STAFF], [EMAIL_STAFF], [PHONE_STAFF], [ADDRESS_STAFF], [SEX_STAFF], [BIRTHDAY_STAFF], [PASSWORD], [ROLE]) VALUES (N'DTDL741', N'Đỗ Thị Diệu Linh', N'ntt@gmail.com', N'0159963741', N'Bình Phước', N'Nữ', CAST(N'1999-01-10' AS Date), N'4321', 0)
INSERT [dbo].[STAFF] ([ID_STAFF], [NAME_STAFF], [EMAIL_STAFF], [PHONE_STAFF], [ADDRESS_STAFF], [SEX_STAFF], [BIRTHDAY_STAFF], [PASSWORD], [ROLE]) VALUES (N'NAT456', N'Nguyễn Anh Thư', N'shsajkdhsa@gmail.com', N'0123456789', N'Ninh Bình', N'Nam', CAST(N'2000-12-07' AS Date), N'1111', 0)
SET IDENTITY_INSERT [dbo].[TECH_SCREEN] ON 

INSERT [dbo].[TECH_SCREEN] ([ID_TECH_SCREEN], [NAME_TECH_SCREEN]) VALUES (1, N'IPS Quantum')
INSERT [dbo].[TECH_SCREEN] ([ID_TECH_SCREEN], [NAME_TECH_SCREEN]) VALUES (2, N'AMOLED')
INSERT [dbo].[TECH_SCREEN] ([ID_TECH_SCREEN], [NAME_TECH_SCREEN]) VALUES (3, N'backlit IPS LCD')
SET IDENTITY_INSERT [dbo].[TECH_SCREEN] OFF
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID_CUSTOMER])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CUSTOMER]
GO
ALTER TABLE [dbo].[CAMERA_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_CAMERA_PHONE_FUNCTIONAL_CAMERA] FOREIGN KEY([ID_FUNCTIONAL_CAMERA])
REFERENCES [dbo].[FUNCTIONAL_CAMERA] ([ID_FUNCTIONAL_CAMERA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAMERA_PHONE] CHECK CONSTRAINT [FK_CAMERA_PHONE_FUNCTIONAL_CAMERA]
GO
ALTER TABLE [dbo].[CAMERA_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_CAMERA_PHONE_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID_PHONE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CAMERA_PHONE] CHECK CONSTRAINT [FK_CAMERA_PHONE_PHONE]
GO
ALTER TABLE [dbo].[DETAIL_BILL]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_BILL_BILL] FOREIGN KEY([ID_BILL])
REFERENCES [dbo].[BILL] ([ID_BILL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DETAIL_BILL] CHECK CONSTRAINT [FK_DETAIL_BILL_BILL]
GO
ALTER TABLE [dbo].[DETAIL_BILL]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_BILL_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID_PHONE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DETAIL_BILL] CHECK CONSTRAINT [FK_DETAIL_BILL_PHONE]
GO
ALTER TABLE [dbo].[FEATURE_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_FEATURE_PHONE_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID_PHONE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FEATURE_PHONE] CHECK CONSTRAINT [FK_FEATURE_PHONE_PHONE]
GO
ALTER TABLE [dbo].[FEATURE_PHONE]  WITH CHECK ADD  CONSTRAINT [FK_FEATURE_PHONE_SPECIAL_FEATURE] FOREIGN KEY([ID_SPECIAL_FEATURE])
REFERENCES [dbo].[SPECIAL_FEATURE] ([ID_SPECIAL_FEATURE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FEATURE_PHONE] CHECK CONSTRAINT [FK_FEATURE_PHONE_SPECIAL_FEATURE]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_BRAND] FOREIGN KEY([ID_BRAND])
REFERENCES [dbo].[BRAND] ([ID_BRAND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_BRAND]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_CPU] FOREIGN KEY([ID_CPU])
REFERENCES [dbo].[CPU] ([ID_CPU])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_CPU]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_SCREEN] FOREIGN KEY([ID_SCREEN])
REFERENCES [dbo].[SCREEN] ([ID_SCREEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_SCREEN]
GO
ALTER TABLE [dbo].[SCREEN]  WITH CHECK ADD  CONSTRAINT [FK_SCREEN_RESOLUTION] FOREIGN KEY([ID_RESOLUTION])
REFERENCES [dbo].[RESOLUTION] ([ID_RESOLUTION])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SCREEN] CHECK CONSTRAINT [FK_SCREEN_RESOLUTION]
GO
ALTER TABLE [dbo].[SCREEN]  WITH CHECK ADD  CONSTRAINT [FK_SCREEN_TECH_SCREEN] FOREIGN KEY([ID_TECH_SCREEN])
REFERENCES [dbo].[TECH_SCREEN] ([ID_TECH_SCREEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SCREEN] CHECK CONSTRAINT [FK_SCREEN_TECH_SCREEN]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [CK_STATUS_BILL] CHECK  (([STATUS_BILL]=(0) OR [STATUS_BILL]=(1) OR [STATUS_BILL]=(2)))
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [CK_STATUS_BILL]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [CK_PHONE] CHECK  (([OS_PHONE]='IOS' OR [OS_PHONE]='Android'))
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [CK_PHONE]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [CK_STATUS_PHONE] CHECK  (([STATUS_PHONE]=(0) OR [STATUS_PHONE]=(1)))
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [CK_STATUS_PHONE]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [CK_ROLE_STAFF] CHECK  (([ROLE]=(0) OR [ROLE]=(1)))
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [CK_ROLE_STAFF]
GO
